<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <title>A반 3조를 소개합니당!!!</title>

    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">

    <link href="../static/main.css" rel="stylesheet">

    <script>
        function openteam1() {
            $('#team2').hide()
            $('#team3').hide()
            $('#project').hide()
            $('#team1').show()
        }

        function openteam2() {
            $('#project').hide()
            $('#team1').hide()
            $('#team3').hide()
            $('#team2').show()
        }

        function openteam3() {
            $('#project').hide()
            $('#team2').hide()
            $('#team1').hide()
            $('#team3').show()
        }

        function openproject() {
            $('#team1').hide()
            $('#team2').hide()
            $('#team3').hide()
            $('#project').show()
        }

        function play() {
            var audio = document.getElementById("audio");
        }

        function getTime() {
            const clockContainer = document.getElementById('myclock');
            const time = new Date();
            const hours = time.getHours();
            const minutes = time.getMinutes();
            const seconds = time.getSeconds();
            clockContainer.innerText = `${hours < 10 ? `0${hours}`: hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds }`  : seconds }`
            }

        function init() {
            setInterval(getTime);
        }

        init();

    </script>

</head>
<body>
<div class="wrap">
    <div class="music">
        <p>wanna chill?
            <input type="image" name="button" src="../static/icons8-play-button-circled-30.png" onclick="audio.play();"
                   value="PLAY"> <!--재생-->
            <input type="image" name="button" src="../static/icons8-pause-button-30.png" onclick="audio.pause();"
                   value="PAUSE"> <!--일시정지-->
            <audio id="audio" src="../static/freemusicforhtml.mp3" onloadstart="audio.volume=0.5" loop></audio>
        </p>

    </div>
    <div class="maintitle">
        <h1>A반 3조</h1>
    </div>
    <div class="wrap2">
        <div class="wrapleft">
            <div id="myclock" class="myclock"></div>
            <script src="clock.js"></script>
            <div class="temp">
                <p>(UCT/GMT +09:00) Asia/Seoul</p>
            </div>
            <div class="mylist">목록
                <ul>
                    <li class="list" onclick="openteam1()" style="cursor:pointer">팀 소개</li>
                    <li class="list" onclick="openteam2()" style="cursor:pointer">팀 목표</li>
                    <li class="list" onclick="openteam3()" style="cursor:pointer">팀 약속</li>
                    <li class="list" onclick="openproject()" style="cursor:pointer">프로젝트 소개글</li>
                </ul>

            </div>
        </div>
        <div class="center">
            <div class="team1" id="team1">팀 소개글
                <div>포장하지 않고 있는 그대로를 보여주는 조, 그래서 조이름도 A반3조
                </div>
            </div>
            <div class="team2" id="team2">팀 목표
                <div>
                    <ul>
                        <li>기본에 충실하자</li>
                        <li>낙오자 없이 끝까지 완주하자</li>
                        <li>다른 팀으로 가더라도 어려운 일 있으면 의지하자</li>
                    </ul>
                </div>
            </div>
            <div class="team3" id="team3">팀 약속
                <div>
                    <ul>
                        <li>지각하지 않기</li>
                        <li>마감 시간 지키기</li>
                        <li>서로 배려하며 말하기</li>
                    </ul>
                </div>
            </div>
            <div class="project" id="project">프로젝트 소개글
                <div>내용</div>
            </div>
        </div>
    </div>
    <div class="members">
        <a href="bongjin" target="_blank">
            <img src="../static/봉진님.png" alt="조봉진" class="memberphoto">
        </a>
        <a href="yebin" target="_blank">
            <img src="../static/예빈님.png" alt="박예빈" class="memberphoto">
        </a>
        <a href="jongsu" target="_blank">
            <img src="../static/종수님.png" alt="박종수" class="memberphoto">
        </a>
        <a href="haebeen" target="_blank">
            <img src="../static/해빈님.png" alt="조해빈" class="memberphoto">
        </a>
        <a href="bora" target="_blank">
            <img src="../static/보라님.png" alt="이드보라" class="memberphoto">
        </a>
    </div>
</div>
</body>
</html>
